<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<listeners>
		<!-- <listener class-name="com.ipclinical.utility.ListenerClass"></listener> -->
	</listeners>
	<test name="Test_All">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
				<class name="com.ipclinical.testcases.PracticeMate" />
			<!-- <class name="com.ipclinical.testcases.PracticeMate2" /> -->
			<!-- <class name="com.ipclinical.testcases.PracticeMate3" />  -->
			<!-- <class name="com.ipclinical.testcases.PracticeMate4" /> -->
		<!-- 	<class name="com.ipclinical.testcases.PracticeMate5" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
